<div th:fragment="confirmation">
    <h2>Confirm the changes</h2>
    <table>
        <thead>
            <tr>
                <td>Old reservation</td>
                <td>New Reservation</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${oldReservation.date()}"></td>
                <td th:text="${newReservation.date()}"></td>
            </tr>
            <tr>
                <td th:text="${oldReservation.departureTime()}"></td>
                <td th:text="${newReservation.departureTime()}"></td>
            </tr>
            <tr>
                <td th:text="${oldReservation.boatName()}"></td>
                <td th:text="${newReservation.boatName()}"></td>
            </tr>
        </tbody>
    </table>

    <form th:action="@{/edit/date/success}" method="post">
        <input type="hidden"
               name="reservationId"
               th:value="${reservationId}">

        <input type="hidden"
               name="newSlotId"
               th:value="${newSlotId}">

        <button type="submit">Confirm</button>
    </form>
    <button type="button"
            onclick="document.getElementById('confirmation-container').innerHTML = ''">
        Cancel
    </button>
</div>


