<div th:fragment="edit-options">
  <div th:if="${notFound != null}">
    <p th:text="${notFound}"></p>
  </div>

  <div th:if="${reservationId != null}">

    <h2>Manage your reservation</h2>

    <form th:action="@{/edit/options/contact}" method="get">
      <input type="hidden" name="reservationId" th:value="${reservationId}">
      <button type="submit">
        Edit contact information
      </button>
    </form>
    <form th:action="@{/edit/options/date}" method="get">
      <input type="hidden" name="reservationId" th:value="${reservationId}">
      <button type="submit">
        Edit date or departure time
      </button>
    </form>
    <form th:action="@{/edit/options/cancel}" method="get">
      <input type="hidden" name="reservationId" th:value="${reservationId}">
      <button type="submit">
        Cancel a reservation
      </button>
    </form>
  </div>
</div>