<div th:fragment="slots">

  <h2>Available Slots</h2>

  <!-- NEW RESERVATION -->
  <div th:if="${reservationId == null}">

    <div th:each="s : ${slots}">

      <form th:action="@{/reservation}" method="get">

        <input type="hidden"
               name="slotId"
               th:value="${s.id}">

        <input type="hidden"
               name="pax"
               th:value="${pax}">

        <button type="submit">
          <span th:text="${s.departureTime}"></span>
          <span th:text="${s.date}"></span>
        </button>

      </form>

    </div>

  </div>

  <!-- EDIT RESERVATION -->
  <div th:if="${reservationId != null}">

    <div th:each="s : ${slots}"
         th:classappend="${reservedSlot != null
                 and s.id.equals(reservedSlot.id)} ? 'reserved'">

      <button type="button"
              th:attr="hx-get=@{/edit/date/confirm(
                        reservationId=${reservationId},
                        newSlotId=${s.id},
                        newPax=${pax}
                    )}"
              hx-target="#confirmation-container"
              hx-swap="innerHTML">

        <span th:text="${s.departureTime}"></span>
        <span th:text="${s.date}"></span>

      </button>

    </div>

  </div>

  <p th:if="${reservationCode != null}"
     th:text="${reservationCode}"></p>

  <div id="confirmation-container"></div>

</div>
