<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Available Boats</h1>

    <form th:action="@{/slots}" method="get">
            <div th:each="b: ${boats}" >
                <button type="submit" name="boatId" th:value="${b.id}">
                    <div>
                        <p th:text="${b.boatName}"></p>
                        <p th:text="${b.capacity}"></p>
                    </div>
                </button>
            </div>
    </form>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>