<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main>
  <h3>Please, confirm you want to cancel the reservation:</h3>

  <form th:action="@{/edit/options/cancel}" method="post">
    <input type="hidden"
           name="reservationId"
           th:value="${reservationId}">

    <button type="submit">Confirm cancellation</button>
  </form>

  <button type="button"
          onclick="document.getElementById('confirmation-container').innerHTML = ''">
    Return
  </button>

</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>