<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Dates</h1>

    <div th:each="d: ${dates}" >
        <form th:action="@{/boats}" method="post">
            <button type="submit" name="date" th:value="${d}">
                <span th:text="${d}"></span>
            </button>
        </form>
    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>