<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
  <form th:action="@{/edit/search}" method="post"
        hx-post="/edit/search"
        hx-target="#options-container"
        hx-swap="innerHTML">
    Email: <input type="email" name="email"><br>
    Reservation Code: <input type="text" name="reservationCode"><br>
    <button type="submit">Next</button>
  </form>
  <div id="options-container"></div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>