<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>

<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
  <h1>Edit information</h1>

  <form th:action="@{/edit/options/contact}"
        method="post"
        th:object="${reservationEditRequest}">

    <input type="hidden"
           name="reservationId"
           th:value="${reservationId}">
    <div>
      <label for="email">Email address</label>
      <input type="email"
             id="email"
             th:field="*{email}"
             disabled>
    </div>

    <div>
      <label for="firstName">First name</label>
      <input type="text"
             id="firstName"
             th:field="*{firstName}"
             required>
    </div>

    <div>
      <label for="lastName">Last name</label>
      <input type="text"
             id="lastName"
             th:field="*{lastName}"
             required>
    </div>

    <div>
      <label for="phoneNumber">Phone number</label>
      <input type="text"
             id="phoneNumber"
             th:field="*{phoneNumber}"
             required>
    </div>

    <button type="submit">Edit information</button>

  </form>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>