<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Make a Reservation</h1>

    <form th:action="@{/reservation/email}" method="get">

        Introduce your email address: <input type="email" name="email"><br>
        <button type="submit" name="slotId" th:value="${slot.id}">Next</button>

    </form>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>