<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Calypso</h1>

    <p>Find and book your next boat trip.</p>

    <form th:action="@{/dates}" method="get">
        <button type="submit">
            Check availability
        </button>
    </form>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>