<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Make a Reservation</h1>

    <form th:action="@{/reservation/email}" method="post" th:object="${reservationRequest}">

        Email Address: <input type="email" th:field="*{email}"><br>
        First Name: <input type="text" th:field="*{firstName}"><br>
        Last Name: <input type="text" th:field="*{lastName}"><br>
        Phone Number: <input type="text" th:field="*{phoneNumber}"><br>
        <input type="hidden" th:field="*{slotId}">

        <button type="submit">Book trip</button>
    </form>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>