<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Calypso')}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Make a Reservation</h1>

    <form th:action="@{/reservation/email}" method="post" th:object="${reservationRequest}">

        <div>
            <label for="email">Email Address</label>
            <input type="email" id="email" th:field="*{email}" required>
            <span class="field-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" th:field="*{firstName}" required>
            <span class="field-error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>

        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" th:field="*{lastName}" required>
            <span class="field-error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>

        <div>
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required>
            <span class="field-error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
        </div>

        <input type="hidden" th:field="*{slotId}">
        <input type="hidden" th:field="*{pax}">

        <button type="submit">Book trip</button>
    </form>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>